<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>kichen garden</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/garden_info.css">
		<link rel="stylesheet" href="/css/jquery.flipster.min.css">
        <script src="/js/jquery-3.1.1.min.js"></script>
        
	
		<!-- 
			반응형 했던거
        <link rel="stylesheet" href="css/tablet.css" media="all and (min-width:900px) and (max-width:1242px)">
		<link rel="stylesheet" href="css/mobile.css" media="all and (min-width:320px) and (max-width:899px)">
		-->
		<script src="https://kit.fontawesome.com/d0c252d761.js" crossorigin="anonymous"></script><!--아이콘 링크 -->
    </head>
    <body>
		
        <header id="main-header">
			<!--
			
			반응형 모바일 햄버거 눌렀을떄 메뉴
			<nav id="mobile">
				<div class="mobile_top">
				<li>
					<a href="#">로그인</a>
				</li>
					<li>
						/
					</li>
				<li>
					<a href="#">회원가입</a>
				</li>
					
				<li class="button2"><a href="">
<img src="Images/cart.png" width="23" height="23"></a></li>
					<br>
<li class="button1">
	<i class="xi-search"></i>
<input type="text" placeholder="Search.." name="search">
					</li>
				</div>
			<ul>
				<li> 
					<a href="">텃밭세트 </a>
				</li>
				<li>
					<a href="">씨앗</a>
				</li>
				<li>
					<a href="">모종</a>
				</li>
				<li>
					<a href="">흙</a>
				</li>
				<li>
					<a href="">화분</a> 
				</li>
				<li>
					<a href="">원예도구</a> 
				</li>
			</ul>
		</nav>
		<a class="tab" href=""><span>tab</span></a>
	<div class="dim"></div>
-->
          
			<nav class="header_inner">
				<div class="header_menu">
					<!--헤더 메뉴-->
					<div class="logo">
						<a href="/">
							<img src="/images/logo.png" width="300" >
						</a>
					</div>
					<!--
							반응형 로고
					<div class="logo_mobile">
						<img src="images/mobile_logo.png" width="150" >
					</div>
					
					<!----검색버튼 누른후 회색 화면 -->		
					<div id="myOverlay" class="overlay">
						<div class="overlay-content">
							<form action="/search" method="post">
								<p class="closebtn" onclick="closeSearch()" title="Close Overlay">X</p>
								<input type="text" placeholder="Search.." name="search">
								<button type="submit"><i class="fas fa-search"></i></button>
							</form>
						</div>
						
					</div>	
				<!----검색버튼 누른후 회색 화면 닫기-->		   
							
								
							
			<!-- 로그인 -->
					<ul class="head_btn">
						<%
							if(session){
						%>
							<li><a href="/mypage"><span>마이페이지</span></a></li>
							<li><a href="/logout"><span>로그아웃</span></a></li>
							<li><%=session.name%>님, 어서오세요</li>
							<li><a href="/cart">
								<span><i class="fas fa-shopping-cart"></i></span></a></li>
							<li class="button">
								<button class="openBtn" onclick="openSearch()">
									<i class="fas fa-search"></i>
								</button>
							</li>
						<%
							}else{
						%>
							<li><a href="/join"><span>회원가입</span></a></li>
							<li><a href="/login"><span>로그인</span></a></li>
							<li class="button">
								<button class="openBtn" onclick="openSearch()">
									<i class="fas fa-search"></i>
								</button>
							</li>
						<%
							}
						%>

					</ul>
					<!-- 로그인 닫기-->

					<!-- 서브메뉴 -->
					<ul class="head_sub">

						<li>
							<a href="/store">
								<span>STORE</span>
							</a>
						</li>
						<li>
							<a href="/recipe">
								<span>베란다 레시피</span>
							</a>
						</li>
						<li>
							<a href="/garden">
								<span>텃밭정보</span>
							</a>
						</li>
						<li>
							<a href="/calender">
								<span>파종달력</span>
							</a>
						</li>
						<li>
							<a href="/farm">
								<span>온라인 텃밭</span>
							</a>
						</li>
					</ul><!-- 서브메뉴 닫기-->
				</div><!--헤드인-->
	<!--헤더 메뉴닫기-->
	<!--헤더닫기-->
			</nav>
		</header>
        <div id="main"> 
			<div id="line1">
			<img src="/images/head_line.png">
		</div>
			
			<!-----온라인 텃밭--->
			
			
			<div id="online_garden_content">
				
				<div class="store">
					<div class="online_garden_name">
						텃밭정보
					</div>
				</div>
				<div class="total">
					<i class="fas fa-angle-double-right"></i>총 <%=count%>건
				</div>
				
				
				<div class="store_image">
					<%
						for(var i=0; i < gardens.length; i++){
					%>
					<a href="/garden_detail/<%=gardens[i].gr_id%>">
					<div class="garden_info">
						<i class="fas fa-seedling"></i> <tt class="number"><%=i+1%></tt><br>
						<strong class="subject"><%=gardens[i].name%></strong> <br>
						<div class="line"></div><br>
						
						
						<div class="a">
						<i class="fas fa-home"></i><tt class="add">주소</tt>&nbsp;
						<tt class="add_info"> <%=gardens[i].jibunaddress%></tt> 
						</div>
						
						
						<div class="b">
						<i class="fas fa-mobile-alt"></i><tt class="phone">연락처</tt>&nbsp;
						<tt class="phone_info"><%=gardens[i].phone%></tt>
						</div>
						
						<div class="c">
						<i class="far fa-square"></i><tt class="area">전체면적</tt>&nbsp;
						<tt class="area_info"><%=gardens[i].all_area%>㎡</tt> <br>
						<tt class="area1">분양면적</tt>
						<tt class="area_info1"><%=gardens[i].area%>㎡</tt>
						</div>
						
						<div class="d">
							<i class="fas fa-won-sign"></i><tt class="price">분양가격</tt>&nbsp;
							<tt class="price_info"><%=gardens[i].price%>원</tt> <br>
						</div>
						
					</div>
					</a>
					<%
						}
					%>
					
		
				
				</div>
				
				
				
		
			
			
			
			
		
			
			
  <!--메인배너 닫기-->


<div id="line"></div>
			
		<!--푸터-------------->
             <div id="footer">
<div class="footer_inner">
  <div class="copyright"> 
	  <img src="/images/footer_logo.png" width="250" style="float:left; padding-left: 10px; padding-top:26px; margin-bottom: 38px;"><br><br>
	  <dt>SHOP NAME : kichen garden &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;OWNER : 강정우</dt>
	  <dt>Fax. 02-2222-2222   &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;TEL: 02-2222-2222</dt>
	  <dt>사업자등록번호 : 2222-22-222222 </dt> 
	  <dt>소재지: 충청남도 천안시 서북구 성환읍 남서울대학교 </dt> 
  </div> 
	
	
	
	  <div class="copyright1">
		  <dd><i class="fas fa-phone-alt"></i>&ensp;02-2222-2222</dd>
	  <dt>MON - FRI : PM 1:00 ~ PM 6:00</dt>
	  <dt>(SAT,SUN,HOLIDAY CLOSED)</dt>
		  <br><br><br>
	  <dt class="last">Copyright (c) kichen garden All Rights Reserved</dt> 
  </div>
	
	<div class="copyright2">
		<dd class="follow">follow</dd>
		<a href="#"><i class="fab fa-facebook-f"></i></a>
		<a href="#"><i class="fab fa-instagram"></i></a>
		<a href="#"> <i class="fab fa-twitter"></i></a>
	  
		 

  </div>
  
</div>
				</div>
			
<!--푸터-------------->
        </div> <!-- end container -->

<!-- 제이쿼리,스크립트 -->
       <script src="/js/scripts.js"></script>

    </body>
</html>
